block navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      #navbar-container.container
        // - Home knop
        a.navbar-brand.abs(href='/')  Scouts Wondelgem
        // - Knop die verschijnt bij kleine schermen 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // - Hierin staat de content van de navbar 
        #navbarNavAltMarkup.collapse.navbar-collapse
            if navbar
              .navbar-nav
                each val in navbar.left
                  if val.links
                    li(id="navbar"+val.naam).nav-item.dropdown 
                      a(id="toggle"+val.naam href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link.dropdown-toggle
                        | #{val.naam}
                      .dropdown-menu(aria-labelledby="toggle"+val.naam)
                        each link in val.links 
                          a.dropdown-item(href="/" + val.naam.toLowerCase() + "/" + link) #{link}
                  else
                    a(id="navbar"+val.naam href="/" + val.naam.toLowerCase()).nav-item.nav-link
                      | #{val.naam}
              .navbar-nav.ml-auto
                each val in navbar.right
                  if val.links
                    li(id="navbar"+val.naam).nav-item.dropdown 
                      a(id="toggle"+val.naam href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav-link.dropdown-toggle
                        | #{val.naam}
                      .dropdown-menu(aria-labelledby="toggle"+val.naam.toLowerCase())
                        each link in val.links 
                          a.dropdown-item(href="/" + val.naam + "/" + link) #{link}
                  else
                    a(id="navbar"+val.naam href="/" + val.naam.toLowerCase()).nav-item.nav-link
                      | #{val.naam}
            else
              li
                span.text-danger Er was een probleem met het inladen van de navigatiebar.  